<div class="container">

    <div class="user">
        <span>Name</span>
        <input class="user_name"/>
        <button class="join">Join</button>
    </div>

    <div class="messages">

    </div>

    <div class="footer hide">
        <input class="chat_input"/>
        <button class="submit">Send</button>
    </div>
</div>